# =========================
# ENV FILES
# =========================
.env
.env.local
.env.development
.env.production

# =========================
# NODE / BACKEND
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BUILD OUTPUTS
# =========================
dist/
build/
out/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/
*.swp

# =========================
# RENDER / VERCEL
# =========================
.vercel/
.render/

# =========================
# LOGS
# =========================
logs/
*.log
